<div class="main">
    <div>
        <img class="image " src="https://image.shutterstock.com/image-photo/tenders-written-on-gray-file-260nw-1865688430.jpg" alt="tenders">
        <button class="btn" style="height: 20px; width:40px;">Tenders</button>
    </div>
    <br><br><br>

    <table class="table table-responsive-md">
        <thead style="text-align: center; ">
            <tr>
                <th scope="col" style="width: 5%;">No</th>
                <th scope="col" style="width: 30;">Title</th>
                <th scope="col" style="width: 15%;">Tender No</th>
                <th scope="col" style="width: 15%;">Date Of Issue</th>
                <th scope="col" style="width: 15%;">Report</th>
            </tr>
        </thead>
        <tbody style="text-align: center; border-radius: 40px;">
            <tr>
                <td scope="row">01</td>
                <td>Suppy Of Cow ghee For Our Laddu Nirmiti And Prasandalay</td>
                <td>24 July 2022</td>
                <td>24 July 2022</td>
                <td>Download</td>
            </tr>
            <tr>
                <td scope="row">02</td>
                <td>Suppy Of Cow ghee For Our Laddu Nirmiti And Prasandalay</td>
                <td>24 July 2022</td>
                <td>24 July 2022</td>
                <td>Download</td>
            </tr>
            <tr>
                <td scope="row">03</td>
                <td>Suppy Of Cow ghee For Our Laddu Nirmiti And Prasandalay</td>
                <td>24 July 2022</td>
                <td>24 July 2022</td>
                <td>Download</td>
            </tr>

        </tbody>
    </table>
</div>
