<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-center d-flex align-items-center ">
            
            <div class="body1 text-center mt-3">
                <h6>Drop Mail</h6>
                <div class="mb-3">
                    <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"
                        placeholder="Message..."></textarea>
                </div>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
        <div class="col col-xs-12  col-md-6 d-flex  ">
            <div class="body2 ">
                <h6>Address</h6> 
                <div>
                    <p>Sant Muktai Sanstan,<br>Bodwad road,Muktainagar</p>    
                </div>
                <div>
                    <p>Tal-Muktainagar <br>Dist-Jalgaon,Maharashtra <br>PIN-425305</p>
                </div>
                <div> 
                    <p>Mo.-8623018610 /&#x200b; 9814228916</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row border border-primary body3 mt-3">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
            <iframe src="https://maps.google.com/maps?q=muktainagar&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0"></iframe>
          </div>
    </div>   
</div>