<div class="main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="image">
                <img src="https:png.pngtree.com/png-clipart/20191121/original/pngtree-goddess-laxmi-pooja-happy-diwali-celebration-2019-png-image_5157380.jpg"></div>
            <div class="line"></div>
            <div class="head">
                <h3>Sant Muktai Sanstan,Muktainagar</h3>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
        English
  
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Marathi</a>
            </div>
        </div>
    </div>
</div>

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" routerLink="">Home</a>
                    <a class="navbar-brand" routerLink="/about">About</a>
                    <a class="navbar-brand" routerLink="/literature">Literature</a>
                    <a class="navbar-brand" routerLink="/tourism">Tourism</a>
                    <a class="navbar-brand" routerLink="/online">Online-Service</a>
                    <a class="navbar-brand" routerLink="/media">Media</a>
                    <a class="navbar-brand" routerLink="/tenders">Tenders</a>
                    <a class="navbar-brand" routerLink="/contact">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</div>