.main {
    height: 100vh;
    width: 100%;
}


/* .para p {
    width: 650px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
} */

img {
    height: 490px;
    width: 370px;
}

.fir {
    height: 170px;
    width: 260px;
    text-align: center;
}

.sec {
    height: 170px;
    width: 260px;
    /* background-color: silver; */
    text-align: center;
}

#img1 {
    height: 100px;
    width: 100px;
}

#img2 {
    height: 135px;
    width: 135px;
}