<div class="main container">
    <div class="one">
        <h5 class="head mt-4" style="font-family: mes New Roman;"><b>Saint Muktabai Temple:</b></h5>
        <div class="row">
            <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
                <div class="para" style="font-family: 'Times New Roman', Times, serif; font-size:large;">
                    <p>Saint Muktabai Temple is a region's ancient temple with Doddess Muktabai beimg honoured at diety of region. There are two temples of deity namely Mehun temple and new Muktabai Temple located in MuktaiNagar city. Muktai and Muktabai
                        was a very popular saint of the Varkari tradition. She was born in Deshastha Bramhin family as the younger sister of the first Varkari Saint, Dhyaneshswar. She wrote around 41 Abhang (devotional songs) all through her life. Muktabai's
                        most popular and throughful work is "Tati ughada dhyaneshswara" which is piece of conversation of saint Dhyaneshswar. Muktabai always believed that a saint is the one who open to or can accept criticisms from others, that's why
                        she said "Sant jene vahave jag bolane sosave".
                    </p>
                    <h5 class="head mt-2 mb-4" style="font-family: 'Times New Roman', Times, serif;"><b>How To Reach:</b></h5>
                    <div class="row">

                        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="fir" style="border: 2px solid silver;">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSor0KzeVrXKViOqKSalo-f3a2ctHydphPd7A&usqp=CAU" id="img1">
                            </div>
                        </div>

                        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="sec" style="border: 2px solid silver;">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdQvaj4xjLm09WZ2ynHKU--bLrBE4gQ3dlUQ&usqp=CAU" id="img2">
                                <h6>Please Embended Google Map Here</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
                <div class="image text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ31iP_AY6P3PZLSEPrSIYUl0UFsaWTr6VjPw&usqp=CAU">
                </div>
            </div>

        </div>
    </div>
</div>