<!-- <div class="container">
    <div class="about">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1> About </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, aliquid! Sequi expedita sapiente est! Quae praesentium culpa, magni doloribus eos labore consectetur sunt. Dolorem aliquam recusandae enim minus eveniet tempore? Lorem ipsum
                    dolor sit amet consectetur, adipisicing elit. Exercitationem eos, tempora libero praesentium iure veniam labore aliquid tenetur. Unde atque accusamus illum distinctio sapiente voluptatem aliquid natus nisi tenetur ea? Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Odio itaque ratione quae. Ducimus soluta quo quasi neque. Consequuntur vero et perferendis rem molestiae, impedit corrupti soluta hic quos saepe dolor!</p>
                <button class="btn btn-outline-secondary">Read More</button>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card1">
                    <h1>News</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt voluptates laborum veniam eaque! Rem nemo, itaque magni obcaecati quam quo similique repellendus dolor. Ducimus eos sint nostrum pariatur itaque.</p>
                    <button class="btn btn-outline-primary">Read More</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card2">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTetPpQ7EiaIHrhorq3POTxBHvPGBQ8WHBng&usqp=CAU" alt="">
                    <h1>Live Darshan</h1>
                    <button class="btn btn-outline-primary">Read More</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTetPpQ7EiaIHrhorq3POTxBHvPGBQ8WHBng&usqp=CAU" alt="">
                    <h1>Donation</h1>
                    <button class="btn btn-outline-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<p>ABOUT WORKS!</p>